*{
	box-sizing: border-box;
	color: white;
}

body h2, body h3, body h4, body h5, body h6, body p{
	color:#333;
}

body header nav.navbar.navbar-default {
    margin-bottom: 0px;
    background-color: #011221;
    border: 0;
    border-radius: 0;
}

body header nav.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,0);
}

body header nav.navbar-default button.navbar-toggle{
	border-color: rgba(255,255,255,0);
	-webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

body header nav.navbar-default button.navbar-toggle:hover, body header nav.navbar-default button.navbar-toggle:focus{
	background-color: rgba(255,255,255,0);
	opacity: 0.6;
}

body header nav.navbar-default button.navbar-toggle span.icon-bar{
	background-color:white;	
}

body div.mainSection section{
	height: calc(100vh - 50px);
	display: block;
	background-image: url('../images/background_index.jpg');
	background-size: cover;	
	background-attachement:fixed;
	background-position: center;
}

body div.mainSection section div.shadowEffect, div.shadowEffect{
	height: calc(100vh - 50px);
	min-height: calc(100vh - 50px);
	overflow:scroll;
	background-color: rgba(2, 15, 27, 0.56);
}

body div.mainSection section div.shadowEffect > div{
	min-height: inherit;
    display: table;
    table-layout: fixed;
}
	
body div.mainSection section div.shadowEffect div.mainTitle h1{
	font-size: 55px;
	display:table-cell;
    vertical-align:middle;
    text-align:center;
}

body div.mainSection section div.shadowEffect div.logArea{
	padding:0 50px;
}

body div.mainSection section div.shadowEffect div.logArea > div{
	display:table-cell;
    vertical-align:middle;
    padding: 0 20px;
    background-color: rgba(56, 76, 95, 0.56);
}

body div.mainSection section div.shadowEffect div.logArea > div > div{
	text-align:center;
	background-color:white;
	border-radius:5px;
	color: #333;
	width:100%;	
	padding: 20px;
}

body div .nav-tabs {
    border-bottom: 1px solid #a75501;
}

body div nav.navbar ul.nav li.dropdown a.dropdown-toggle{
	color:white;
}

body div nav.navbar ul.nav li.dropdown.open a.dropdown-toggle{
	background-color: rgba(255, 255, 255, 0);
}

body div .nav-tabs > li.active > a, body div .nav-tabs > li.active > a:focus, body div .nav-tabs > li.active > a:hover {
    color: white;
    background-color: #a75501;
    border: 0;
}

body div .nav-tabs > li > a{
	border:0;
	color: #675f5f;
}

body div .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(195, 100, 3, 0.23);
}

body div div.tab-content div *{
	color: #333;
	text-center;
}

body div div.input-group{
	margin: 20px auto;
    max-width: 350px;
}

body div div.input-group span{
	position: relative;
    top: 0px;	
}

body div div.input-group span.input-group-addon:first-child {
    border-right: 0;
    background-color: #a75501;
    color: white;
    border: 0;
}

body div div.tab-content button, body div div.tab-content button:hover{
	color: white;
    background-color: #a75501;
    border: 0;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;	
}

body div div.tab-content button span{
	color:white;
}

body div div.tab-content button:hover{
	opacity: 0.7;	
}

@media screen and (max-width: 992px) {
	body div.mainSection section div.shadowEffect div.logArea > div {
		display: inline-block;
    	vertical-align: middle;
    	padding: 0;
    	width:100%;
    	background-color: rgba(255,255,255,0);
	}
	
	body div.mainSection section div.shadowEffect > div.logArea {
	    min-height: inherit;
	    display: inline-block;
	    table-layout: initial;
	    padding:30px 30px;
	}
}

div.news{
	background-image: url('../images/background_news.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
}

div.news div.shadowEffect div.newsSection{
	background-color: rgba(56, 76, 95, 0.56);
	padding: 0 20px;
	min-height: calc( 100vh - 50px);
}

div.news div.shadowEffect div.newsSection span.separator, div.message span.separator{
	background-color: #a75501;
    height: 1px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 0;
    max-width: 180px;
}

div.news div.shadowEffect div.newsSection div.message{
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	margin: 20px 0;
}

div.news div.shadowEffect div.newsSection div.formMessage{
	margin-top: 0;
    border-radius: 0 0 5px 5px;
    padding-top: 1px;
}

div.news div.shadowEffect div.newsSection div.message h3{
	color: #a75501;
	font-size: 25px;
}

div.message i, div.message h6, div.message p{
	color: #333;
}

div.account{
	background-image: url('../images/background_account.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div.account div.shadowEffect div.accountSection{
	background-color: rgba(56, 76, 95, 0.56);
	padding: 0 20px;
	min-height: calc( 100vh - 50px );
}

div.myaccount, div.mymessages{
	padding: 20px;
}

div.myaccount > div, div.mymessages > div{
	padding: 20px;
    background-color: white;
    border-radius: 5px;
}

div.myaccount > div h2, div.mymessages > div h2{
	color: #a75501;
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #a75501;
}

body textarea{
    text-align: justify;
    font-family: helvetica;
    color: #333;
    line-height: 1.2;
    padding: 0.4em 0;
    width: 100%;
    border: none;
    resize: none;
    margin-top: 3px;
}

body textarea.border{
    padding: 0.4em 0.4em;
    margin: 5px 0;
    border: 1px solid #c7c1c1;
    border-radius: 3px;
    height: 35px;
}

body textarea.border.content{
    min-height: 100px;
}

body div div div.tab-content button.deleteButton, button.deleteButton {
    color: #a75501;
    font-size: 1.5em;
    background: white;
    border: none;
    margin-top: 35px;
    opacity: 0.3;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

button.deleteButton:hover, button.deleteButton:focus, body div div div.tab-content button.deleteButton:hover, body div div div.tab-content button.deleteButton:focus{
    opacity: 1;
}

body textarea.title, body div.mymessages h4{
    font-size: 20px;
    margin-top: 30px;
    color: #333;
}

div.submitSection{
	text-align: center;
}

button.submit{
	border: none;
    border-radius: 4px;
    background-color: #a75501;
    padding: 5px 10px;
    width: initial;
    margin: 15px 0 15px 0;
	-webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
    color:white;
}

button.submit span.glyphicon, button.submit span.glyphicon{
	padding: 5px 10px;
	font-size:1.3em;
}	

button.submit span.submitText, button.submit span.submitText{ 
	position: relative;
    top: -4px;
    margin-right: 5px;
}	
	
.submit:hover, .submit:hover{
	opacity: 0.6;
}

body div .hidden{
	display: none;
}

div.btnLargeTop{
	margin-top: 30px;
}

div.btnLargeTop .btn{
	border: 0;
    background-color: #f0f0f0;
}

div.btnLargeTop .btn .caret {
    margin-left: 0;
    color: #333;
}

body div > span.separator{
	height: 1px;
	width: 100%;
    display: inline-block;
    background-color: #f0f0f0;
    margin-top: 20px;
}

div.accountInformation{
	margin-top:20px;
}

div.accountInformation > form > div{
	padding: 5px 0;	
}

div.accountInformation > form > div input{
	width: 100%;
	display: inline-block;
	color: #a75501;
}

div.accountInformation > form > div label{
	color: #333;
	font-weight: initial;	
}	
	
div.whiteBG{
	margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

a.linkToNews {
    color: white;
    background-color: #a75501;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

a.linkToNews:hover {
    opacity: 0.8;
    color: white;
    text-decoration: none;
}

form ul.dropdown-menu.status li input{
	opacity: 0;
	display: inline;
}

form ul.dropdown-menu.status li label{
	color: #333;
    padding: 3px 5px;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: color 0.8s;
    -moz-transition: color 0.8s;
    transition: color 0.8s;
}

form ul.dropdown-menu.status li label:hover{
	color: #a75501;
}

span.btnText{
	color: #333;
}

body form ul.dropdown-menu.status li.disabled label{
	color: #a75501;
	cursor: auto;
}

div.alert-danger span , div.alert-danger{
    color: rgb(169, 68, 66);
}

div.errorForm {
    position: absolute;
    top: 60px;
    left: 30px;
}

div.alert-danger{
    background-color: rgba(242, 222, 222, 0.68);
    border: 0;
	position: absolute;
	z-index: 3000;
	left: -999999px;
	-webkit-animation: animAlert 5s linear;
    -moz-animation: animAlert 5s linear;
	animation: animAlert 5s linear;
}
@-webkit-keyframes animAlert{
  	0% {opacity:0;position: relative;left:0;}
  	5% {opacity: 1;left:0;position: relative;}
  	85% {opacity: 1;left:0;position: relative;}
  	95% {opacity: 1;left:0;position: relative;}
  	100% {opacity: 0;position: absolute;}
}
@-moz-keyframes animAlert{
  	0% {opacity:0;position: relative;left:0;}
  	5% {opacity: 1;left:0;position: relative;}
  	85% {opacity: 1;left:0;position: relative;}
  	95% {opacity: 0;left:0;position: relative;}
  	100% {opacity: 0;position: absolute;}
}
@keyframes animAlert{
  	0% {opacity:0;position: relative;left:0;}
  	5% {opacity: 1;left:0;position: relative;}
  	85% {opacity: 1;left:0;position: relative;}
  	95% {opacity: 1;left:0;position: relative;}
  	100% {opacity: 0;position: absolute;}
}

div span.adminPost{
	color: #a75501;
	opacity: 0.4;
    font-size: 1em;
    padding-left: 10px;
}